name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4.1"
          #bundler-cache: true
      - run: bundle config unset deployment
      - run: bundle install
      - name: Run tests
        run: bundle exec rake test
      - name: Validate markdown output (GFM)
        run: bundle exec rake markdown:validate
